@model JFluentValidation.Models.AuthenticationModel

@{
    ViewBag.Title = "NotNull";
}
<h2>Not Null</h2>
@using (this.Html.BeginForm("NotNull", "JFluentValidation", FormMethod.Post))
{
    <div>
        <label>Required?</label>
        @Html.CheckBox("isRequire")
    </div>
    <div>
        <label>User Name:</label>@Html.TextBoxFor(a=>a.UserName)
    </div>
    <div>
        <label>Pass Word:</label> @Html.TextBoxFor(a=>a.Password)
    </div>
    <div>
        <input type="button" name="submit" id="submit" value="submit"/>
    </div>
    <script language="javascript" type="text/javascript">
        
    </script>
}

